body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    overflow: hidden;
}

.form {
    background:rgba(0,0,0,0.6);
	width:400px;
	border:1px solid #000000;
	position: absolute;
	top: 12%;
	left: 65%;
	-moz-box-shadow: inset 0 0 10px #000;
  	-webkit-box-shadow: inset 0 0px 10px #000;
   	box-shadow: inset 0 0px #000;
   	border-radius:9px;
   	margin:0px auto;
}

h1{
	text-align: center;
	font-family: 'Lobster', cursive;
	color:orange;
}

form h1 {
    text-align:center;
	font-family: "constantia";
	font-weight:normal;
	color:#000000;
	font-size:36pt;
	margin:30px 0px;
}

form input {
	width:280px;
	height:35px;
    padding:0px 10px;
	margin:10px 30px;
	color:black;
}

form button {
	width:135px;
	margin:20px 0px 30px 30px;
	height:50px;
	background: #787878; 
	border:1px solid #2a2a2a;
	color:black;
	box-shadow:0px 2px 0px #000;
	-moz-box-shadow:0px 2px 0px #000;
	-webkit-box-shadow:0px 2px 0px #000;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

form button:hover {
	background:#A9A9A9;
}
.principal{
     width:800px;
	 height:500px;
	 position: absolute;
	 top: 5%;	
	 left: 5%;
	 margin:auto;
	 background:rgba(0,0,0,0.6);
	 padding:20px 20px;
	 box-sizing:border-box;
	 margin-top: 45px;
	 border-radius:15px;
}	

h3{
	font-family: "constantia";
	color: #ffffff;	
}

p{
	text-align: center;
	font-family: "constantia";
	color: #ffffff;	
}

.sidebar {
    position: absolute;
    width: 250px;
    height: 100%;
    background: #333;
    color: #fff;
    outline: 1px solid #2a2a2a;
}

.sidebar h2 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
    padding: 10px;
    background: #2a2a2a;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    outline: 1px solid #2a2a2a;
    transition: border 0.3s;
}

.sidebar li:hover {
    background: #444;
    border-left: 5px solid #eee;
}

.sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.contenido {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff;
    padding: 15px;
    transition: all 0.3s;
}

#menu1 { 
    position:absolute; 
    z-index:1; 
    background-color:#FFFFFF; 
}

#image1 { 
    position:absolute; 
    z-index:0; 
}

.menu-bar {
    cursor: pointer;  
    width: 40px;
    height: 40px;
}

.img { 
    position: absolute; 
    left: 0.1%; 
    top: 0%
}

.abrir {
    transform: translateX(250px);
}