body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    overflow: hidden;
}
.sidebar {
    position: absolute;
    width: 250px;
    height: 100%;
    background: #333;
    color: #fff;
    outline: 1px solid #2a2a2a;
}

.sidebar h2 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
    padding: 10px;
    background: #2a2a2a;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    outline: 1px solid #2a2a2a;
    transition: border 0.3s;
}

.sidebar li:hover {
    background: #444;
    border-left: 5px solid #eee;
}

.sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.contenido {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff;
    padding: 15px;
    transition: all 0.3s;
}

#menu1 { 
    position:absolute; 
    z-index:1; 
    background-color:#FFFFFF; 
}

#image1 { 
    position:absolute; 
    z-index:0; 
}

.menu-bar {
    cursor: pointer;  
    width: 40px;
    height: 40px;
}

.img { 
    position: absolute; 
    left: 0.1%; 
    top: 0%
}

.abrir {
    transform: translateX(250px);
}